{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on"/>
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="Simon's Blog">
    <title>Simon's Blog</title>

    <link rel='stylesheet' id='bootstrap-css' href='{% static "css/bootstrap.min.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='fontawesome-css' href='{% static "css/font-awesome.min.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='stylesheet-css' href='{% static "css/style.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='raxus-css' href='{% static "css/raxus.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' id='open-social-style-css' href='{% static "css/os.css" %}' type='text/css' media='all'/>
    <link rel="stylesheet" href="{% static "live2d/css/live2d.css" %}"/>

    <meta name='robots' content='index,follow'/>
    <meta name="keywords" content="自用，闲来无事做的">
    <meta name="description" content="一个小白的网站，希望一起提高，共勉">
</head>
<body class="home blog site-layout-2" style="display: flex;flex-direction: column; background-color: #8c601414">
<!-- 头部 -->
<header class="fix-wrap" id="fix-wrap">
    <div class="fix-main clearfix pr" id="fix-main" _hover-ignore="1"><a href="/" class="index-logo">
        <img src="{% static "picture/black-logo.png" %}" alt="拓普Python学院,Python!"></a>
        <nav class="nav fl">
            <ul id="fix-list" class="fix-list clearfix">

                <li id="menu-item-24086" class="menu-item"><a href="/">首页</a></li>
                    {% for category in allcategory %}
                        <li id="menu-item-117720" class="menu-item">
                            <a href="{% url 'index' %}list-{{ category.id }}.html">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                <li id="menu-item-24086" class="menu-item"><a href="/about/">关于博主</a></li>
            </ul>
        </nav>
        <form method="get" class="index-search  hidden-xs" action="{% url 'index' %}s/">
            <input class="text" name="search" type="text" placeholder="输入关键字" value="">
            <button class="btn" style="color: darkslategrey" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>

<div class="content" style="flex:1 0 auto ">
    {% block content %}

    {% endblock %}
</div>

<!-- 底部 -->
<div id="landlord">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="280" height="350" class="live2d"></canvas>
</div>
<footer class="footer" style="flex-shrink: 0">
    <div class="copyright"> © 2020- 2020 · All Rights Reserved
        · <a href="{% url 'index' %}">Simon's Blog</a>
        · <a href="http://www.nibiedian.gov.cn" target="_blank">XICP备XXXXXXXX号</a> 版权所有 © Simon
    </div>
</footer>
<script src="{% static "js/bundle.js" %}"></script>
<script type="text/javascript" src="{% static "js/view-history.js" %}"></script>
<script type='text/javascript' src="{% static "js/push.js" %}"></script>
<script type='text/javascript' src='{% static "js/jquery.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/bootstrap.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/raxus-slider.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/loader.js" %}'></script>
<script type='text/javascript' src='{% static "js/bj-lazy-load.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/os.js" %}'></script>
<script type="text/javascript" src='{% static "js/trackLine.js" %}'></script>
<script type="text/javascript" src="{% static "js/mouseClick.js"%}"></script>
<script type="text/javascript">
    var message_Path = "{% static "live2d"%}"
    var home_Path = '127.0.0.1/'
</script>
<script type="text/javascript" src="{% static "live2d/js/live2d.js"%}"></script>
<script type="text/javascript" src="{% static "live2d/js/message.js"%}"></script>
<script type="text/javascript">
    loadlive2d("live2d", "{% static "live2d/model/haruto/haruto.model.json"%}");
</script>
</body>
</html>